body {
  margin: 0;
}

/* Header Style */
header {
  display: flex;
}

#menu {
  height: 100px;
  width: 100%;
  background-color: pink;
  color: white;
  font-size: 20pt;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
}
.logo {
  width: 80px;
  padding: 10px;
  float: left;
}
.main1 {
  padding-top: 25px;
  width: 600px;
  height: 100%;
  margin: 0 auto;
  list-style: none;
  margin-right: 0;
}
.main1>li {
  float: left;
  width: 25%;
  line-height: 50px;
  text-align: center;
  position: relative;
}
.main1>li:hover .main2 {
  left: 25%;
  display: block;
}
.main1>li a {
  display: block;
  color: black;
  text-decoration: none;
}
.main1>li a:hover {
  background: hotpink;
  color: white;
  font-weight: bold;
}
.main2 {
  position: absolute;
  top: 50px;
  display: none;
  background: skyblue;
  width: 120%;
  list-style: none;
  padding-left: 0;
}
.main2>li {
  position: relative;
}

.main2>li a{
  border-radius: 10px;
  margin: 10px;
}

section {
  height: 100%;
  width: 100%;
  background-color: beige;
}

.map {
  width: 100% auto;
  height: 100% auto;
}

/* Section Style */
.LRslide{
  width: 1200px;
  height: 400px;
  border: 1px solid dimgrey;
  margin: 0 auto;
}

.list{
  height: 50px;
  border-bottom: 1px solid dimgrey;
  box-sizing: border-box;
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
}

.slide{
  width: 300px;
}

.slideimg {
  width: 300px;
  height: 300px;
}

/* Footer Style */
#cr{
  color: gray;
  left: 0;
}

.footer-social {
  position: fixed;
  bottom: 0;
  text-decoration-line: none;
  font-size: 20px;
  color: black;
}

.footer-social a {
  text-decoration: none;
  color: blue;
}

.footer-pol{
  position: fixed;
  bottom: 0;
  margin-left: 50%;
  text-decoration-line: none;
  font-size: 20px;
}

.tooltip {
  display: inline-block;
  color: gray;
  font-weight: bold;
}

.tooltip-text {
  display: none;
  position: absolute;
  width: 630px;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8em;
  color: black;
  background: white;
}

.tooltip:hover .tooltip-text {
  display: block;
  bottom: 100%; 
  left: 50%; 
  margin-left: -100px;
}
